<h2>Highscores</h2>
<ul>
{% for flow in flows %}
    <li><a href="/flow/{{flow.number}}/view">{{flow.title}}</a> — {{flow.score}} — <a href="/w/{{flow.writer_name}}">{{flow.writer_name}}</a></li>
{% endfor %}

{% if flows.size < 1 %}
<p>No highscores on the board. Get writing!</p>
{% endif %}
</ul>
