<div class='non-header-page'>
	<h2>Wordcount Mode Highscores</h2>
	<ul>
	{% for flow in wordcount_flows %}
	    <li><a href="/flow/{{flow.number}}/view">{{flow.title}}</a> — {{flow.modescore}} points per word — {{flow.score}} total points — <a href="/w/{{flow.writer_name}}">{{flow.writer_name}}</a></li>
	{% endfor %}

	{% if wordcount_flows.size < 1 %}
	<p>No highscores on the board. Get writing!</p>
	{% endif %}
	</ul>
	<h2>Timer Mode Highscores</h2>
	<ul>
	{% for flow in timer_flows %}
            <li><a href="/flow/{{flow.number}}/view">{{flow.title}}</a> — {{flow.modescore}} points per second — {{flow.score}} total score — <a href="/w/{{flow.writer_name}}">{{flow.writer_name}}</a></li>
	{% endfor %}

	{% if timer_flows.size < 1 %}
	<p>No highscores on the board. Get writing!</p>
	{% endif %}
	</ul>
</div>
