<header>
    <a href="/"><img src='/assets/images/tekstflyt.png' id='logo'></a>
</header>
{% if logged_in %}
<h2>Welcome <a href="/w/{{ writer }}">{{ writer }}</a>!</h2> </br>

<a href="/flow/new"><div class='btn btn-option'>Start a New Flow</div></a>

<a href="/flow"><div class='btn btn-option'>View Your Flows</div></a>

<a href="/logout"><div class='btn btn-option'>Logout</div></a>
{% else %}
    <p>
    Welcome to Tekstflyt, an awesome way to flow your thoughts.
    </p>
    <p>
    {{ stats.flows}} flows, totalling {{stats.words}} words, by {{ stats.users }} {% if stats.users > 1 || stats.users == 0 %} writers. {% else %} writer. {% endif %}
    <p>
    <div class='large-btn-holder'><a href="/signup" class='btn-large btn'>Sign Up</a></div>
    or <a href='/login'>Login</a>

{% endif %}
