<div class='non-header-page'>
<h3>{{ cwriter.name }}’s Stats</h3>
<ul>
    <li>Total words written: <b>{{ cwriter.total_words }} words</b></li>
    <li>Longest flow: <b>{{ cwriter.longest_flow }} words</b></li>
</ul>

<h3>{{ cwriter.name }}’s Flows</h3>
<ul>
{% for flow in flows %}
    <li><a href="/w/{{ cwriter.name }}/f/{{ flow.number }}">{{ flow.title }}</a></li>
{% endfor %}
{% if flows.size < 1 %}
    <p>Someone’s been slacking! No flows yet.</p>
{% endif %}
</ul>
</div>
