<h2>{{ cwriter.name }}’s stats</h2>
<ul>
    <li>Total words written: <b>{{ cwriter.total_words }}</b></li>
    <li>Longest flow: <b>{{ cwriter.longest_flow }}</b></li>
</ul>

<h2>{{ cwriter.name }}’s flows</h2>
<ul>
{% for flow in flows %}
    <li><a href="/w/{{ cwriter.name }}/f/{{ flow.number }}">{{ flow.title }}</a></li>
{% endfor %}
{% if flows.size < 1 %}
    <p>Someone’s been slacking! No flows yet.</p>
{% endif %}
</ul>
